.page-section {
    padding: 1.2rem 0;

    @media (min-width:800px) {
        font-size:4.5rem 0;
    }

    &--blue {
        background-color: #2f5572;
        color: white;
    }

    &--testimonials {
        background: url('/assets/images/testimonials-bg')
    }
}