.row {
    &::after {
        content: "";
        display:block;
        clear: both;
    }

    &__b-margin-until-medium {
        margin-bottom: 1rem;
    }


    @media (min-width:800px) {

        &--gutters > div:not(:last-child) {
            padding-right: 65px;
        }

        &--gutters-large > div{
            padding-right: 100px;
        }
        
        &__medium-4 {
            float: left;
            width: 33.333333%;
        }

        &__b-margin-until-medium {
            margin-bottom: 0rem;
        }

        

        &__medium-4--larger {
            width: 37%;
        }

        &__medium-6 {
            float: left;
            width: 50%;
        }
    
        &__medium-8 {
            float: left;
            width: 66.666666%;
        }

        &__medium-8--smaller {
            width: 63%;
        }
    }
   
}